@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: xxx-large;
    text-align: center;
    font-weight: 999;
    font-size: 300%;
}

h2 {
    font-family: 'DM Sans', sans-serif;
    margin: 50vh;
    margin-top: 5px;
    margin-bottom: 5px;
}

.maintext {
    margin: 50vh;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 200%;
}

.toptext {
    margin: 5px;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 125%;
}

.highlight-yellow {
    background: yellow;
    margin: 20px;
}

a:link, a:visited {
    color: rgb(41, 41, 41);
}

a:hover {
    color: rgb(0,0,0);
}

hr {
    margin-left: 50vh;
    margin-right: 50vh;
    margin-bottom: 10px;
    margin-top: 10px;
}
