h1 {
    font-family: Helvetica, sans-serif;
    font-size: xx-large;
    text-align: center;
}

p {

}

.maintext {
    margin: auto;
    
}
.dm-sans-unique {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
}